name: PR Title

on:
  pull_request:
  pull_request_target:

jobs:
  # Make sure pre title follow the conventional commits convention:
  # https://www.conventionalcommits.org
  commitlint:
    name: Lint PR Title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
